---
Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep: 3
ColumnLimit: 100
ConstructorInitializerIndentWidth: 4

AlignAfterOpenBracket: AlwaysBreak
PointerAlignment: Middle
ReferenceAlignment: Middle

BreakArrays: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterNamespace: true
    BeforeLambdaBody: true

    BeforeElse: false
    BeforeCatch: false
    AfterControlStatement: Never
    IndentBraces: false
BreakConstructorInitializer: BeforeColon
BreakInheritanceList: BeforeColon

DerivePointerAlignment: false
ReflowComments: false

PenaltyExcessCharacter: 10
